* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --border-color: oklch(67.64% 0 0);

  --nav-bar-background-color: oklch(46.65% 0.041 256.43);
  --nav-bar-background-color-hover: oklch(36.65% 0.041 256.43);

  --text-light: #fff;
  --text-light-hover: oklch(86% 0 10);

  --list-header-background: oklch(90.65% 0.041 256.43);
  --list-header-background-hover: oklch(80.65% 0.041 256.43);


}

main {
  height: calc(100vh - 60px);
  padding: 10px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}